<p>
    Try to fetch this url as a bot (facebook, twitter, slack, etc) <code>https://instafire-app.firebaseapp.com</code>
</p>
<p class = "postScore">
      <button mat-icon-button shareButton="facebook">
        <fa-icon [icon]="fbIcon" size="lg"></fa-icon>
      </button>
      <button mat-icon-button shareButton="twitter">
        <fa-icon [icon]="tweetIcon" size="lg"></fa-icon>
      </button>
      <button mat-icon-button shareButton="pinterest">
        <fa-icon [icon]="pinIcon" size="lg"></fa-icon>
      </button>
      <button mat-icon-button shareButton="whatsapp">
        <fa-icon [icon]="whatIcon" size="lg"></fa-icon>
      </button>
  </p>