<!-- <app-social-posts></app-social-posts> -->
<router-outlet></router-outlet>

<div class="content">

    <h1>Search Engine Optimized Bot-Friendly Angular 7</h1>

    <ol>
        <li>Yes, you read that right.</li>
        <li>Don't believe me? Navigate to one of the links below then paste the url into the <a href="http://iframely.com/">validator</a>.</li> 
    </ol>

    <h3>Made possible by...</h3>
    <ul>
        <li>Rendora (Headless Chrome)</li>
    </ul>

    <p>Does NOT require Angular Universal</p>

    <hr>

    <span><a routerLink="/" class="button is-info">Home</a> </span>
    <span><a routerLink="/about-page" class="button is-info">About</a></span>
    <span><a routerLink="/social-post" class="button is-info">Social Post</a> </span>
    

    <hr>


    <router-outlet></router-outlet>

